.product-card-img {
    width: 16rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 4px;
    margin: 1rem;
}

.product-card-img > img {
    width: 100%;
    height: 100%;
}

.product-card-info {
    color: var(--font);
    height: 3.5rem;
    margin: 0.5rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6)
    );

    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-price {
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.product-card-btn {
    margin-right: 1rem;
    font-size: 0.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.product-card-btn > * {
    pointer-events: none;
}
.product-card-btn:hover {
    filter: opacity(50%);
}
