.default-badge{
    position: relative;
}
.default-badge-bubble{
    position: absolute;
    padding-top: .07rem;
    top: -1.3rem;
    right: -1rem;
    color: var(--font);
    font-size: .9rem;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background:linear-gradient(
        to right bottom,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.6)
    )
}