.product-display{
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
}

.product-snackbar{
    position: absolute;
    bottom: 0;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    overflow: hidden;
}

.product-snackbar-item{
    background-color: rgba(58, 58, 58, 0.8);
    color: #fff;
    font-size: 1.5rem;
    min-width: 26rem; 
    padding: 1rem;
    border-radius: 5px;
    bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    animation: transition-in 5s forwards;
}

.product-snackbar-close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    cursor: pointer;
}
.product-snackbar-close img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hidden{
    display: none;
}



@keyframes transition-in{
    0%{
        transform: translate(0, 100px);
        opacity: 0;
    }
    10%{
        transform: translate(0, 0);
        opacity: 1;
    }
    90%{
        transform: translate(0, 0);
        opacity: 1;
    }    
    100%{
        opacity: 0;
        transform: translate(0, 100px);
        display: none;
    }
}