.cart-top {
    color: var(--font);
    font-family: var(--fontFamilyDefault);
}
.cart-top > h2 {
    text-align: center;
}

.cart-bottom {
    color: var(--font);
    font-family: var(--fontFamilyDefault);
    margin-top: 0.5rem;
    min-height: 5rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    );
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-bottom > span {
    font-size: 1.2rem;
}
.cart-bottom > button {
    outline: none;
    color: #fff;
    font-family: var(--fontFamilyDefault);
    font-size: 1rem;
    background: linear-gradient(to right bottom, var(--bg3), var(--bg4));
    background-color: transparent;
    border: none;
    padding: 0.7rem 1.7rem;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: .3s ease;
}
.cart-bottom > button:hover {
    filter: opacity(60%);
}

.cart-item {
    display: flex;
    padding: 0.4rem;
    margin: 0.5rem 1rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    );
    border-radius: 1rem;
}
.cart-item-img-circle {
    margin: 0.4rem;
    overflow: hidden;
    width: 4rem;
    height: min-content;
}
.cart-item-img-circle > img {
    width: 100%;
    height: 100%;
}

.cart-item-info {
    min-height: 4.2rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item-name {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: space-around;
}
.cart-item-name > span {
    font-size: 1.4rem;
}

.cart-item-modify-qte{
    cursor: pointer;
    transition: .3s ease;
    user-select: none;
}
.cart-item-modify-qte:hover{
    filter: opacity(60%);
}
.cart-item-modify-qte > img{
    pointer-events: none;
}

.cart-item-option {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.cart-delete {
    transform: scale(1.5);
}
