.default-main {
    position: relative;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-glass-container {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
}
