.App {
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    background: linear-gradient(to right top, var(--bg), var(--bg2));
    z-index: -10;
}

main{
    flex: 1;
    z-index: 1;
}