.default-header{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.default-header .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.7rem 1.8rem;
    
    width: 8rem;
    height: 4rem;
    border-radius: 5px;
}
.default-header .header-logo img{
    width: 100%;
    height: 100%;
}

.default-header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.default-header ul li{
    color: var(--font);
    margin-left: 4rem;
    font-family: var(--fontFamilyDefault);
    font-weight: bold;
}