button {
    --primary-bg: #4c57f5;
    --secondary-bg: #f73787;
    --green-bg: #4cf595;
    --default-font: "Open Sans", sans-serif;
}
.default-button {
    font-size: 1rem;
    position: relative;
    background-color: var(--primary-bg);
    padding: 0.5rem 0.7rem;
    font-family: var(--default-font);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease;
    overflow: hidden;
}
.default-button:hover {
    filter: opacity(75%);
}
.default-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    transition: 0.6s;
    opacity: 0;
}
.default-button:active::after {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    transition: 0s;
}
.button-secondary {
    background-color: var(--secondary-bg);
}
.button-green {
    background-color: var(--green-bg);
}

/*--- LINKS ---*/
.button-link {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    color: inherit;
    cursor: pointer;
}
.button-link::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}
.button-link:hover {
    filter: none;
    text-decoration: underline;
}
.button-link:active::after {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    transition: 0s;
}
.button-link:focus {
}

/*--- ARROW BUTTON ---*/
.default-btn-arrow {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 2.2rem;
    height: min-content;
    cursor: pointer;
}
.default-btn-arrow::after {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    transition: ease 0.3s;
    pointer-events: none;
}
.default-btn-arrow:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
}
.default-btn-arrow:active::after {
    background-color: rgba(0, 0, 0, 0.2);
}

/*--- ICON BUTTON ---*/
.default-icon-button {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 2.2rem;
    height: min-content;
    cursor: pointer;
}
.default-icon-button img {
    width: 1.4rem;
}

.default-icon-button::after {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    transition: ease 0.3s;
    pointer-events: none;
}
.default-icon-button:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
}
.default-icon-button:active::after {
    background-color: rgba(0, 0, 0, 0.2);
}

/*--- BUTTON CLOSE ---*/
.button-close {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;

    width: min-content;
    height: min-content;
}

.button-close > * {
    pointer-events: none;
    user-select: none;
}
